<div class="gallery">
  <h1 class="gallery-title">Imagine the possibilities</h1>
  <h2 class="gallery-description">Where can Heroku take you today?</h2>
  <h3>
    <form method="post" >
      <input value="Click to explore" type="submit" />
    </form>
  </h3>
  <% @images.each do |i| %>
  <div class="gallery-item">
    <a href="/photo/<%= i[:id] %>">
      <span class="caption">
      </span>
    </a>
    <img src="<%= i[:url] %>" alt="<%= i[:title] %>" />
  </div>
  <% end %>
</div>
